<!DOCTYPE html>
<html ng-app="CustomerManagement">
<head>
<meta charset="ISO-8859-1">
<title>CRUD AngularJS and Spring Boot</title>
</head>
<body ng-controller="CustomerController">
	<h1>CRUD AngularJS</h1>
	<form ng-submit="submitCustomer()">
		<table>
			<tr>
				<th colspan="2">Add/Edit</th>
			</tr>
			<tr>
				<td>Customer Name</td>
				<td><input type="text" ng-model="customerForm.customerName"/></td>
			</tr>
			<tr>
				<td>Email</td>
				<td><input type="text" ng-model="customerForm.email"/></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" value="Submit" class="blue-button"/></td>
			</tr>
		</table>
	</form>
	<table>
		<tr>
			<th>Customer Name</th>
			<th>Email</th>
			<th>Operations</th>
		</tr>
		<tr>
			<td>{{ customer.customerName }}</td>
			<td>{{ customer.email }}</td>
			<td><a class="blue-button">Edit</a> | <a class="red-button"></a>Delete</td>
		</tr>
	</table>
</body>
<script type="text/javascript" src="webjars/angularjs/1.7.9/angular.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>
</html>